<h2>Liste of my most hated cities</h2>
<ul>
  <li class="midlaner">Florence</li>
  <li class="midlaner">Los Angeles</li>
  <li class="toplaner">New York</li>
  <li class="toplaner">San Francisco</li>
  <li class="midlaner">Venice</li>
</ul>