<h2>Liste of my most loved  cities</h2>
<ul>
  <li class="midlaner">Reggio Emilia</li>
  <li class="midlaner">Boston</li>
  <li class="toplaner">Washington</li>
  <li class="midlaner">San Diego</li>
  <li class="toplaner">Santa Barbara </li>
</ul>